.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.main {
  box-sizing: border-box;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

* {
  margin: 0;
  padding: 0;
}

.footer-bg::after {
  background-image: url(components/img/bg/copyright_shape.png);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

.profile-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid black;
}

.profile-pic img {
  width: 50px;
  height: 50px;
}

.newsletter-wrap {
  margin: 20px auto 0px;
  background-image: url(components/img/bg/newsletter_bg.jpg);
}

.profile-menu {
  position: absolute;
  top: 110%;
  width: max-content;
  left: 0;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  border-radius: 5px;
  z-index: 1;
}

.profile-menu ul {
  width: 100%;
  list-style-type: none;
  padding: 5px 10px;
  margin: 0;
}

.profile-menu ul h5 {
  margin: 5px 0px;
}

.profile-menu ul li {
  padding: 3px;
  white-space: nowrap;
  font-size: 14px;
  margin: 0px;
}

.profile-menu ul li:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}

.breed-services-item .content .title {
  font-size: 22px;
  margin-bottom: 0;
  padding: 16px 21px;
  background-image: url(./components/img/images/breed_shape.svg) !important;
  background-position: center;
  background-repeat: no-repeat;
  line-height: 1;
  color: #f04336;
}

.page-title{
  width: 100%;
  display: flex;
  padding: 20px 150px 20px 100px;
  justify-content: space-between;
}
